{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}
{% block page_title %}Inicio LandingPage{% endblock page_title %}
{% block content %}
{% block css_files %}
<link rel="stylesheet" href="{% sass_src 'landingPage/css/main.scss' %}" type="text/css">{% endblock css_files %}
<link rel="stylesheet" href=" {% static 'css/normalize.css' %} ">

<div class="wrapper-page">

    <aside>
        <div class="profile">
            <picture>
                <source srcset="{% static 'landingPage/assets/avatar1.png' %} " media="(min-width: 64px)">
                <img src="{% static 'landingPage/assets/avatar1.png' %}" alt="avatar ambush in mid"
                    class="profile_avatar" />
            </picture>
            <p>Jun 19, 2021</p>
            <p>01:45 pm</p>
        </div>

        <nav>
            <ul>
                <li class="current">
                    <a href="#">
                        <div class="wrapper-link_icon ">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                                style="enable-background:new 0 0 100 100;" xml:space="preserve">
                                <g>
                                    <path class="iconFill"
                                        d="M83.8,89.6H16.2c-1.2,0-2.3-1-2.3-2.3V34.4c0-0.8,0.4-1.5,1-1.9l33.7-21.8c0.7-0.5,1.7-0.5,2.4,0l34,21.5 c0.7,0.4,1,1.1,1,1.9v53.2C86.1,88.6,85.1,89.6,83.8,89.6z M18.4,85.1h63.2V35.4L49.9,15.3L18.4,35.7V85.1z" />
                                </g>
                            </svg>
                            {% comment %} home icon design by By SIYEONG PARK, KR {% endcomment %}
                        </div>
                        <div class="wrapper-link_text">
                            <span>Home</span>
                            <span></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="wrapper-link_icon ">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                                style="enable-background:new 0 0 100 100;" xml:space="preserve">
                                <g>
                                    <path class="iconFill"
                                        d="M83.8,89.6H16.2c-1.2,0-2.3-1-2.3-2.3V34.4c0-0.8,0.4-1.5,1-1.9l33.7-21.8c0.7-0.5,1.7-0.5,2.4,0l34,21.5 c0.7,0.4,1,1.1,1,1.9v53.2C86.1,88.6,85.1,89.6,83.8,89.6z M18.4,85.1h63.2V35.4L49.9,15.3L18.4,35.7V85.1z" />
                                </g>
                            </svg>
                        </div>
                        <div class="wrapper-link_text">
                            <span>Blog</span>
                            <span class="active"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="wrapper-link_icon ">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                                style="enable-background:new 0 0 100 100;" xml:space="preserve">
                                <g>
                                    <path class="iconFill"
                                        d="M83.8,89.6H16.2c-1.2,0-2.3-1-2.3-2.3V34.4c0-0.8,0.4-1.5,1-1.9l33.7-21.8c0.7-0.5,1.7-0.5,2.4,0l34,21.5 c0.7,0.4,1,1.1,1,1.9v53.2C86.1,88.6,85.1,89.6,83.8,89.6z M18.4,85.1h63.2V35.4L49.9,15.3L18.4,35.7V85.1z" />
                                </g>
                            </svg>
                        </div>
                        <div class="wrapper-link_text">
                            <span>Section1</span>
                            <span class="active"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="wrapper-link_icon ">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                                style="enable-background:new 0 0 100 100;" xml:space="preserve">
                                <g>
                                    <path class="iconFill"
                                        d="M83.8,89.6H16.2c-1.2,0-2.3-1-2.3-2.3V34.4c0-0.8,0.4-1.5,1-1.9l33.7-21.8c0.7-0.5,1.7-0.5,2.4,0l34,21.5 c0.7,0.4,1,1.1,1,1.9v53.2C86.1,88.6,85.1,89.6,83.8,89.6z M18.4,85.1h63.2V35.4L49.9,15.3L18.4,35.7V85.1z" />
                                </g>
                            </svg>
                        </div>
                        <div class="wrapper-link_text">
                            <span>Section2</span>
                            <span class="active"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="wrapper-link_icon ">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                                style="enable-background:new 0 0 100 100;" xml:space="preserve">
                                <g>
                                    <path class="iconFill"
                                        d="M83.8,89.6H16.2c-1.2,0-2.3-1-2.3-2.3V34.4c0-0.8,0.4-1.5,1-1.9l33.7-21.8c0.7-0.5,1.7-0.5,2.4,0l34,21.5 c0.7,0.4,1,1.1,1,1.9v53.2C86.1,88.6,85.1,89.6,83.8,89.6z M18.4,85.1h63.2V35.4L49.9,15.3L18.4,35.7V85.1z" />
                                </g>
                            </svg>
                        </div>
                        <div class="wrapper-link_text">
                            <span>Section3</span>
                            <span class="active"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="wrapper-link_icon ">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                                style="enable-background:new 0 0 100 100;" xml:space="preserve">
                                <g>
                                    <path class="iconFill"
                                        d="M83.8,89.6H16.2c-1.2,0-2.3-1-2.3-2.3V34.4c0-0.8,0.4-1.5,1-1.9l33.7-21.8c0.7-0.5,1.7-0.5,2.4,0l34,21.5 c0.7,0.4,1,1.1,1,1.9v53.2C86.1,88.6,85.1,89.6,83.8,89.6z M18.4,85.1h63.2V35.4L49.9,15.3L18.4,35.7V85.1z" />
                                </g>
                            </svg>
                        </div>
                        <div class="wrapper-link_text">
                            <span>Section4</span>
                            <span class="active"></span>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="card-calltoAction">
            <div class="card-calltoAction_col">
                <p>Noticias en una caja</p>
                <p>La caja que necesitas</p>
                <button>Upgrade</button>
            </div>
            <div>
                <picture class="card-calltoAction_img">
                    <source srcset="/media/cc0-images/surfer-240-200.jpg" media="(min-width: 800px)">
                    <img src="/media/cc0-images/painted-hand-298-332.jpg" alt="se pasan" />
                </picture>
            </div>

        </div>
    </aside>

    <main class="wrapper-main">
        <header>
            <div class="grettings">

                <img src="{% static 'landingPage/assets/sun_icon.png' %} " alt="svg solesito">
                <div class="wrapper-grettings-name">
                    <h1>Buenos días,
                        <span>Ambushinmid</span></h1>
                </div>
            </div>
            <div class="input-search">
                <input type="search" rol="combobox" placeholder="Search for articles">
                <input type="submit" value="">
            </div>
        </header>
        <h1>Hola Banda que cosas 😎</h1>
        <h2>My fuck#$@ amazing Page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus et accusamus quisquam recusandae
            aliquid debitis quaerat consectetur eaque tempore.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro nesciunt quod accusamus hic reiciendis
            explicabo neque excepturi dolore repudiandae optio modi laborum, delectus magnam. Maiores architecto eaque
            perspiciatis esse? Voluptas eius adipisci provident labore iure vel a. Sed, voluptatem minus placeat saepe
            deserunt, laudantium quae mollitia unde similique est odit.</p>
        <section>
            <h2>Lorem ipsum dolor sit amet.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nesciunt sit sapiente dolorem, deserunt
                beatae
                modi, iure mollitia quos accusamus sunt voluptatibus odit atque libero voluptas dolor, in deleniti ipsa
                eos
                ipsam provident hic enim veritatis recusandae? Tempore repellendus amet, sint, quasi perferendis,
                consequatur architecto ratione nemo maxime tenetur provident esse doloremque porro quas totam distinctio
                aspernatur dolore? Placeat quo facilis consectetur quidem. Expedita amet tenetur placeat mollitia
                doloremque
                maiores aliquid, dolorem ullam distinctio sequi dolores alias incidunt temporibus ex reprehenderit
                impedit
                delectus quis, officiis molestiae obcaecati aut quam ipsum.</p>
            <div>
                <p></p>

            </div>
        </section>
    </main>


    <footer>
        <h3>Mi Info</h3>
        <ul>
            <li>Pal Face</li>
            <li>Quejate en Twitter</li>
            <li>Selfie de Instagram</li>
            <li>knock knock tik tok</li>
        </ul>
        <address>
            <p>jajajaja</p>
        </address>
    </footer>
    {% endblock content %}
</div>
foo

</html>