{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}
{% block page_title %}Inicio LandingPage{% endblock page_title %}
{% block content %}
{% block css_files %}

<link rel="stylesheet" href=" {% static 'css/normalize.css' %} ">
<link rel="stylesheet" href="{% sass_src 'landingPage/css/main.scss' %}" type="text/css">
{% comment %} Boxicons CDN Link {% endcomment %}
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
{% endblock css_files %}
{% block js_files %}
<script defer src=" {% static 'landingPage/js/sidenav.js' %} "></script>
{% endblock js_files %}

<div class="wrapper-page">

    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bxl-python'></i>
                <div class="logo_name">Blog</div>
            </div>
            <button id="menu">
                <i class='bx bx-menu'></i>
            </button>
        </div>



        <ul class="nav_list">
            <li class="current">
                <a href="">
                    <i class='bx bx-home-alt'></i>
                    <div>
                        <span class="links_names">Home</span>
                        <span></span>
                    </div>
                </a>
                <span class="tooltip">home</span>
            </li>
            <li>
                <a href="">
                    <i class='bx bxl-javascript'></i>
                    <div>
                        <span class="links_names">Javascript</span>
                        <span></span>
                    </div>
                </a>
                <span class="tooltip">Javascript</span>
            </li>
            <li>
                <a href="">
                    <i class='bx bxl-sass'></i>
                    <div>
                        <span class="links_names">SCSS</span>
                        <span></span>
                    </div>
                </a>
                <span class="tooltip">SCSS</span>
            </li>
            <li>
                <a href="">
                    <i class='bx bx-data'></i>
                    <div>
                        <span class="links_names">Databases</span>
                        <span></span>
                    </div>
                </a>
                <span class="tooltip">Databases</span>
            </li>
            <li>
                <a href="">
                    <i class='bx bxl-django'></i>
                    <div>
                        <span class="links_names">Django</span>
                        <span></span>
                    </div>
                </a>
                <span class="tooltip">Django</span>
            </li>
            <li>
                <a href="">
                    <i class='bx bx-folder'></i>
                    <div>
                        <span class="links_names">Files</span>
                        <span></span>
                    </div>
                </a>
                <span class="tooltip">Files</span>
            </li>
        </ul>
        <div class="card-calltoAction">
            <div class="card-calltoAction_col">
                <p>News in a box</p>
                <p>Box is all you need</p>
                <button>Upgrade</button>
            </div>
            <div>
                <div class="card-calltoAction_img">

                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50"
                        style="enable-background:new 0 0 50 50;" xml:space="preserve">
                        <style type="text/css">
                            .st0 {
                                fill-rule: evenodd;
                                clip-rule: evenodd;
                                fill: #FFFFFF;
                            }

                            .st1 {
                                fill-rule: evenodd;
                                clip-rule: evenodd;
                                fill: #95C1FF;
                            }
                        </style>
                        <g>
                            <desc>Created with Sketch.</desc>
                            <path class="st0"
                                d="M5.8,37l18.4,10V25.5L5.8,14.8V37z M25,49.2c-0.1,0-0.3,0-0.4-0.1l-20-10.9c-0.3-0.1-0.4-0.4-0.4-0.7V13.3 c0-0.3,0.2-0.6,0.4-0.7c0.3-0.1,0.6-0.1,0.8,0l20,11.7c0.3,0.1,0.4,0.4,0.4,0.7v23.4c0,0.3-0.2,0.6-0.4,0.7 C25.3,49.2,25.1,49.2,25,49.2L25,49.2z" />
                            <path class="st0"
                                d="M25.8,25.5V47l18.4-10V14.8L25.8,25.5z M25,49.2c-0.1,0-0.3,0-0.4-0.1c-0.3-0.2-0.4-0.4-0.4-0.7V25 c0-0.3,0.2-0.6,0.4-0.7l20-11.7c0.3-0.2,0.6-0.2,0.8,0c0.3,0.1,0.4,0.4,0.4,0.7v24.2c0,0.3-0.2,0.6-0.4,0.7l-20,10.9 C25.3,49.2,25.1,49.2,25,49.2L25,49.2z" />
                            <path class="st0"
                                d="M6.6,13.3L25,24l18.4-10.7L25,2.6L6.6,13.3z M25,25.8c-0.1,0-0.3,0-0.4-0.1L4.5,14c-0.3-0.1-0.4-0.4-0.4-0.7 s0.2-0.6,0.4-0.7l20-11.7c0.3-0.2,0.6-0.2,0.8,0l20,11.7c0.3,0.1,0.4,0.4,0.4,0.7s-0.2,0.6-0.4,0.7l-20,11.7 C25.3,25.8,25.1,25.8,25,25.8L25,25.8z" />
                            <polygon class="st1" points="16.6,13.3 25,18.2 33.4,13.3 25,8.4 	" />
                            <path class="st1"
                                d="M25,21.8c-0.2,0-0.4,0-0.5-0.1l-12.7-7.4c-0.3-0.2-0.5-0.5-0.5-0.9s0.2-0.7,0.5-0.9L24.5,5 c0.3-0.2,0.7-0.2,1.1,0l12.7,7.4c0.3,0.2,0.5,0.5,0.5,0.9s-0.2,0.7-0.5,0.9l-12.7,7.4C25.4,21.7,25.2,21.8,25,21.8L25,21.8z" />
                        </g>
                    </svg>

                    {% comment %} By Ben Davis, RO {% endcomment %}
                </div>
            </div>

        </div>

        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="{% static 'landingPage/assets/avatar1.png' %}" alt="avatar ambush in mid">
                    <div class="name_job">
                        <div class="name">AmbushInMid</div>
                        <div class="job">Developer</div>
                    </div>
                </div>
            </div>

            <a class='bx bx-log-out-circle' id="log_out"></a>
        </div>

    </div>

    <main class="wrapper-main">
        <header>
            <div class="grettings">

                <img src="{% static 'landingPage/assets/sun_icon.png' %} " alt="svg solesito">
                <div class="wrapper-grettings-name">
                    <h1>Que onda,
                        <span>Ambush</span></h1>
                </div>
            </div>
            <div class="input-search">
                <form action="" role="search">
                    <input type="search" rol="combobox" placeholder="Search for articles">
                    <button type="submit" value="">🗨️</button>
                </form>
            </div>
        </header>
        <div class="wrapper-content">
            <section class="row ">
                <article class="card-post-main">
                    <div class="card-post-main__img">
                        <img src="https://images.unsplash.com/photo-1518659526054-190340b32735?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
                            alt="unsplash images TODO">
                    </div>
                    <div class="card-post-main__excerpt">
                        <h3>Architecture</h3>
                        <p class="excerpt">Ground breaking building is a classic example of mexican architecture</p>
                        <div class="card-post-main__info">
                            <div class="avatar">
                                <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                                    alt="">
                            </div>
                            <div class="info">
                                <address>Rose Roseville</address>
                                <p>JUN 14, 2021</p>
                            </div>

                        </div>
                    </div>

                </article>


                <article class="card-post-capsule">
                    <div class="capsule">
                        <div class="capsule-icon">
                            <img src="{% static 'assets/blog_icon.svg' %} " alt="">
                        </div>
                        <div class="capsule-content">
                            <h3>Tuesday Capsule</h3>
                            <p>Get updated on the fly</p>
                            <a href="#"><span>Brief me</span>
                                <span>➡️</span>
                            </a>
                        </div>
                    </div>
                    <div class="weatherInfo">
                        <h3>Amsterdam, Netherlands</h3>
                        <div class="weather">
                            <div class="weather__icon">
                                <span>⛈️</span>
                            </div>
                            <div class="weather__info">
                                <h3>28<span>ºc</span></h3>
                                <p>Cloudy day, chance of rain</p>
                            </div>
                        </div>
                    </div>
                </article>

            </section>
            <section class="row pt-4">
                <div class="card-subscribe">
                    <div class="card-subscribe__content">
                        <h3>Subscribe to Newsletter</h3>
                        <form action="">
                            <input type="email" placeholder="Example: your@email.com" name="emailform" id="">
                            <button type="submit" value="">✉️</button>
                        </form>
                    </div>
                </div>
                <article class="card-videothumbnail">
                    <div class="videothumbnail">
                        <img src="https://images.unsplash.com/photo-1510627498534-cf7e9002facc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2F1bGlmbG93ZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                            alt="">
                    </div>
                    <div class="card-videothumbnail__excerpt">
                        <p><span>👁️‍🗨️</span> 12,090</p>
                        <h4>The benefits of Cauliflower</h4>
                    </div>
                </article>
                <article class="card-videothumbnail">
                    <div class="videothumbnail">
                        <img src="https://images.unsplash.com/photo-1617153817979-283ffdcd52f5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGxhbnRpbmclMjB0cmVlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                            alt="">
                    </div>
                    <div class="card-videothumbnail__excerpt">
                        <p><span>👁️‍🗨️</span> 44,880</p>
                        <h4>Let us plant more this year</h4>
                    </div>
                </article>
            </section>

            <section class="row pt-4">
                <div class="banner">
                    <div class="banner-wrapper-content">
                        <div class="banner-content">
                            <h2>Featured</h2>
                            <h3>Natural mood regulation low or even absent in people whit depression</h3>
                            <p class="nanner__excerpt">Mood varies from hour-to-hour and healthy mood regulation
                                involves
                                choosing activities theh help settle ones mood.</p>
                        </div>
                    </div>
                </div>
                <article class="card-author">
                    <h2>Author <br> <span>of the month</span></h2>
                    <div class="card-author__profile">
                        <img src="https://images.unsplash.com/photo-1587492520470-8cea42e7b7fe?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGVyc29uJTIwbWVufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                            alt="">
                        <div class="wraper-author">
                            <p>Benjamin</p>
                            <p>Pete jonas</p>
                        </div>
                    </div>
                    <a href="#"><span>Know more </span><span>➡️</span></a>
                </article>
            </section>


            <h1>Hola Banda que cosas 😎</h1>
            <h2>My fuck#$@ amazing Page</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus et accusamus quisquam
                recusandae
                aliquid debitis quaerat consectetur eaque tempore.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro nesciunt quod accusamus hic
                reiciendis
                explicabo neque excepturi dolore repudiandae optio modi laborum, delectus magnam. Maiores architecto
                eaque
                perspiciatis esse? Voluptas eius adipisci provident labore iure vel a. Sed, voluptatem minus placeat
                saepe
                deserunt, laudantium quae mollitia unde similique est odit.</p>
            <section>
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta incidunt eaque reprehenderit
                    laborum
                    cumque, fugiat inventore sed mollitia atque obcaecati in optio dolores tempora autem modi
                    commodi
                    quo ipsam blanditiis. A delectus fugit quasi quod ex itaque laborum harum in, sequi, animi autem
                    est
                    ullam facere quidem architecto dignissimos eligendi, adipisci ut nesciunt? Ipsa dolorem
                    repellendus
                    libero nulla, quia neque vitae, hic nihil odit qui optio animi error, cupiditate quae rerum ea
                    consequatur modi eum ullam consectetur blanditiis molestias beatae! Enim harum ullam explicabo
                    optio
                    eligendi, quae nulla reiciendis asperiores nesciunt et odit ipsam reprehenderit officia quidem
                    magnam voluptate quisquam. Hic, fuga exercitationem in, totam sit aperiam minus, esse ex quos
                    tenetur quasi sunt voluptatum dolorum ut accusamus dolorem quam.</p>
                <div>
                    <p></p>

                </div>


            </section>
        </div>
    </main>


    {% comment %} <footer>
        <h3>Mi Info</h3>
        <ul>
            <li>Pal Face</li>
            <li>Quejate en Twitter</li>
            <li>Selfie de Instagram</li>
            <li>knock knock tik tok</li>
        </ul>
        <address>
            <p>jajajaja</p>
        </address>
    </footer> {% endcomment %}
    {% endblock content %}
</div>

</html>