<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page </title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>Inicio</li>
                <li>Blog</li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Hola Banda 😎</h1>
        <h2>My fuck#$@ amazing Page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus et accusamus quisquam recusandae
            aliquid debitis quaerat consectetur eaque tempore.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro nesciunt quod accusamus hic reiciendis
            explicabo neque excepturi dolore repudiandae optio modi laborum, delectus magnam. Maiores architecto eaque
            perspiciatis esse? Voluptas eius adipisci provident labore iure vel a. Sed, voluptatem minus placeat saepe
            deserunt, laudantium quae mollitia unde similique est odit.</p>
    </main>

    <section>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nesciunt sit sapiente dolorem, deserunt beatae
            modi, iure mollitia quos accusamus sunt voluptatibus odit atque libero voluptas dolor, in deleniti ipsa eos
            ipsam provident hic enim veritatis recusandae? Tempore repellendus amet, sint, quasi perferendis,
            consequatur architecto ratione nemo maxime tenetur provident esse doloremque porro quas totam distinctio
            aspernatur dolore? Placeat quo facilis consectetur quidem. Expedita amet tenetur placeat mollitia doloremque
            maiores aliquid, dolorem ullam distinctio sequi dolores alias incidunt temporibus ex reprehenderit impedit
            delectus quis, officiis molestiae obcaecati aut quam ipsum.</p>
    </section>

    <footer>
        <h3>Mi Info</h3>
        <ul>
            <li>Pal Face</li>
            <li>Quejate en Twitter</li>
            <li>Selfie de Instagram</li>
            <li>knock knock tik tok</li>
        </ul>
        <address>
            <p>jajajaja</p>
        </address>
    </footer>

</body>

</html>