{% load static %}
<header>
    <div class="grettings">

        <img src="{% static 'assets/sun_icon.png' %} " alt="svg solesito">
        <div class="wrapper-grettings-name">
            <h1>Que onda,
                <span>Ambush</span></h1>
        </div>
    </div>
    <div class="input-search">
        <form action="" role="search">
            <input type="search" rol="combobox" placeholder="Search for articles">
            <button type="submit" value="">🗨️</button>
        </form>
    </div>
</header>