[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
libsass = "*"
django-sass-processor = "*"
django-environ = "*"
django = "*"
django-livereload-server = "*"
pillow = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"

[scripts]
server = "py manage.py runserver"
livereload = "py manage.py livereload"
