[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
libsass = "*"
django-sass-processor = "*"
django-environ = "*"
django = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"

[scripts]
server = "py manage.py runserver"
