header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grettings {
    display: flex;

    * {
        padding-right: 1rem;
    }


    img {
        width: 64px;
        align-self: center;
        margin: 0 auto;
    }

}