body {
    background-color: white;
    font-family: 'Sora', sans-serif;

}

.wrapper {
    &-page {
        display: grid;
        grid-template-columns: minmax(90px, 300px) repeat(auto-fit, minmax(100px, 1fr));

    }

    &-link_icon {
        width: 40px;

        padding: 0.30rem;
        background-color: $NavBg;
        border-radius: 10px;
        margin-right: 1.25rem;
    }

    &-link_text {
        color: $NavColor;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &-content {
        background-color: $mainBG;
        border-radius: 20px 0 0 0;

    }



}

aside {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    position: sticky;
    top: 0;
    padding: 0 1rem;
}

main {
    width: 100%;
    margin-top: 1rem;
}

.profile {
    width: 80%;

    &_avatar {
        width: 64px;
        border-radius: 50%;
    }

    p {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 0.25rem;
    }

    p:last-of-type {
        color: #6c8393;
        font-weight: 300;
        font-size: 1rem;
        margin-top: 0px;
    }

}

.pt {
    &-4 {
        padding-top: 2rem;

    }
}