/* Main Styles */
.col-2_bigleft {
    position: relative;
    top: -30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 3rem;
    width: 95%;
    margin: 0 auto;
}

.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
}

.card-post {

    &-main {
        @extend .card;
        display: flex;
        padding: 0.5rem;
        justify-content: space-between;
        grid-column: 1 / 3;

        &__img {
            width: 50%;
            max-height: 260px;
            margin-right: 35px;

            img {
                width: 100%;
                border-radius: 10px;
                height: 100%;
                object-fit: cover;
            }
        }

        &__excerpt {
            max-width: 475px;
            padding-right: 2rem;
            display: grid;

            h3 {
                color: $NavColor;
                font-weight: 500;
                margin-bottom: 0;

            }

            p {
                color: $hoverNavColor;
                font-size: 1.5rem;
                line-height: 1.25;
                margin: 0;
            }
        }

        &__info {
            display: flex;
            align-items: center;



            .avatar {
                align-self: flex-end;
                width: 100px;
                height: 100px;

                margin-right: 1rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%
                }
            }

            .info {
                address {
                    color: $hoverNavColor;
                    font-size: 1.25rem;
                    margin-bottom: 0.5rem;
                    font-style: normal;
                }

                p {
                    color: $NavColor;
                    margin: 0;
                    font-size: 1rem
                }
            }
        }
    }

    &-capsule {
        @extend .card;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .capsule {
            width: 90%;
            margin: 0 auto;
            background-color: $accestLigthcolor;
            border-radius: 15px;
            display: flex;
            align-items: center;
            min-height: 250px;

            &-icon {
                margin: 0 1rem;
                width: 100px;
            }

            &-content {
                margin-left: 1rem;

                h3 {
                    margin: 0;
                    color: $hoverNavColor;
                    margin-bottom: 1rem;
                    font-size: 1.25rem;
                }

                p {
                    color: $NavColor;
                    margin: 0;
                    margin-bottom: 1.5rem;
                    font-size: 1.25rem;
                }

                a {
                    text-decoration: none;
                    color: $hoverNavBg;
                    font-size: 1.25rem;

                    &:hover {
                        color: $accentDarkcolor;
                    }
                }
            }
        }

        .weatherInfo {
            width: 90%;
            margin: 0 auto;
            background-color: white;
            padding-bottom: 1rem;

            h3 {
                font-size: 1.5rem;
                margin-bottom: 0.5rem;

            }

            .weather {
                display: flex;
                align-items: center;

                &__icon {
                    font-size: 4rem;
                }

                &__info {
                    margin-left: 1rem;

                    h3 {
                        margin: 0;
                        margin-bottom: 0.5rem;
                        color: $hoverNavColor;
                        font-size: 2.25rem;

                        span {
                            color: $NavColor;
                        }
                    }

                    p {
                        margin: 0;
                        color: $NavColor;
                    }
                }
            }
        }
    }
}