/* Navigation dahsboard */
.iconFill {
    fill: #6C8393;
}

nav {
    width: 80%;

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 500px;
        min-height: 400px;


        .current {
            .wrapper-link_icon {
                svg .iconFill {
                    fill: white;
                }

                background-color: $hoverNavBg;

            }

            .wrapper-link_text {
                color: $hoverNavColor;

                span:nth-child(2) {
                    background-color: $hoverNavBg;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                }
            }

            &:focus {
                transform: scale(1.00);
                outline: 5px solid red;
            }



            &:hover,
            &:active {
                .wrapper-link_icon {
                    svg .iconFill {
                        fill: white;
                    }

                    background-color: $hoverNavBg;

                }

                .wrapper-link_text {
                    color: $hoverNavColor;

                    span:nth-child(2) {
                        background-color: $hoverNavBg;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                }
            }
        }

        li {

            .wrapper-link_text {
                /* display: none; */
            }

            a {
                display: flex;
                align-items: center;
                text-decoration: none;

                img {
                    width: 100%;
                }


                &:hover {
                    .wrapper-link_icon {
                        svg .iconFill {
                            fill: white;
                        }

                        background-color: darken($hoverNavBg, 10%);

                    }

                    .wrapper-link_text {
                        color: $hoverNavColor;

                        span:nth-child(2) {
                            background-color: darken($hoverNavBg, 10%);
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                        }
                    }

                }

            }

            &:focus {
                transform: scale(1.08);
                outline: none;


                .wrapper-link_icon {
                    svg .iconFill {
                        fill: white;
                    }

                    background-color: darken($hoverNavBg, 10%);

                }

                .wrapper-link_text {
                    color: $hoverNavColor;

                    span:nth-child(2) {
                        background-color: darken($hoverNavBg, 10%);
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                }
            }


            &:active {
                .wrapper-link_icon {
                    svg .iconFill {
                        fill: white;
                    }

                    background-color: darken($hoverNavBg, 10%);

                }

                .wrapper-link_text {
                    color: $hoverNavColor;


                    span:nth-child(2) {
                        background-color: darken($hoverNavBg, 10%);
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                }

            }
        }

    }
}

/* Card Call to action */

.card-calltoAction {
    background-color: $hoverNavBg;
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    align-items: center;
    width: 80%;

    .card-calltoAction_col {
        width: 85%;
        color: white;
        font-size: 0.65rem;
        font-weight: 300;
        margin-right: 0.5rem;

        p:nth-child(1) {
            font-size: 0.85rem;
            font-weight: 500;
        }


        button {

            background: $accentDarkcolor;
            color: #ffffff;
            border-radius: 10px;
            font-size: 0.75rem;
        }

        button:hover,
        button:focus {
            background: darken($accentDarkcolor, 20%);
        }

        button:focus {
            outline: 1px solid #fff;
            outline-offset: -4px;
        }

        button:active {
            transform: scale(0.99);
        }
    }

    &_img {
        max-width: 100px;
        min-width: 50px;

        svg {
            width: 100%;
        }
    }
}