{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}
{% block pageTitle %}Blog Inicio{% endblock pageTitle %}

{% block css_files %}
<link rel="stylesheet" href="{% sass_src 'blog/css/blogContent.scss' %}" type="text/css">
{% endblock css_files %}


{% block content %}
<main class="wrapper-main">
    {% include 'blog/includes/header.html' %}

    <div class="wrapper-content">
        <section class="row pos_up ">
            {% for post in latest_posts  %}
            {% include 'blog/includes/post.html' %}

            {% endfor %}


            <article class="card-post-capsule">
                <div class="capsule">
                    <div class="capsule-icon">
                        <img src="{% static 'assets/blog_icon.svg' %} " alt="">
                    </div>
                    <div class="capsule-content">
                        <h3>Tuesday Capsule</h3>
                        <p>Get updated on the fly</p>
                        <a href="#"><span>Brief me</span>
                            <span>➡️</span>
                        </a>
                    </div>
                </div>
                <div class="weatherInfo">
                    <h3>Amsterdam, Netherlands</h3>
                    <div class="weather">
                        <div class="weather__icon">
                            <span>⛈️</span>
                        </div>
                        <div class="weather__info">
                            <h3>28<span>ºc</span></h3>
                            <p>Cloudy day, chance of rain</p>
                        </div>
                    </div>
                </div>
            </article>

        </section>
        <section class="row ">
            <div class="card-subscribe">
                <div class="card-subscribe__content">
                    <h3>Subscribe to Newsletter</h3>
                    <form action="">
                        <input type="email" placeholder="Example: your@email.com" name="emailform" id="">
                        <button type="submit" value="">✉️</button>
                    </form>
                </div>
            </div>
            <article class="card-videothumbnail">
                <div class="videothumbnail">
                    <img src="https://images.unsplash.com/photo-1510627498534-cf7e9002facc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2F1bGlmbG93ZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt="">
                </div>
                <div class="card-videothumbnail__excerpt">
                    <p><span>👁️‍🗨️</span> 12,090</p>
                    <h4>The benefits of Cauliflower</h4>
                </div>
            </article>
            <article class="card-videothumbnail">
                <div class="videothumbnail">
                    <img src="https://images.unsplash.com/photo-1617153817979-283ffdcd52f5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGxhbnRpbmclMjB0cmVlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt="">
                </div>
                <div class="card-videothumbnail__excerpt">
                    <p><span>👁️‍🗨️</span> 44,880</p>
                    <h4>Let us plant more this year</h4>
                </div>
            </article>
        </section>

        <section class="row ">
            <div class="banner">
                <div class="banner-wrapper-content">
                    <div class="banner-content">
                        <h2>Featured</h2>
                        <h3>Natural mood regulation low or even absent in people whit depression</h3>
                        <p class="nanner__excerpt">Mood varies from hour-to-hour and healthy mood regulation
                            involves
                            choosing activities theh help settle ones mood.</p>
                    </div>
                </div>
            </div>
            <article class="card-author">
                <h2>Author <br> <span>of the month</span></h2>
                <div class="card-author__profile">
                    <img src="https://images.unsplash.com/photo-1587492520470-8cea42e7b7fe?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGVyc29uJTIwbWVufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt="">
                    <div class="wraper-author">
                        <p>Benjamin</p>
                        <p>Pete jonas</p>
                    </div>
                </div>
                <a href="#"><span>Know more </span><span>➡️</span></a>
            </article>
        </section>

    </div>
</main>
{% endblock content %}