@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;900&display=swap");
/* nav colors */
/* reset button styles */
* {
  box-sizing: border-box; }

img {
  width: 100%; }

button {
  display: inline-block;
  border: none;
  padding: 0.65rem 1.75rem;
  margin: 0;
  text-decoration: none;
  background: #3355df;
  color: #ffffff;
  border-radius: 10px;
  font-size: 0.75rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none; }
  button:hover, button:focus {
    background: #0053ba; }
  button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px; }
  button:active {
    transform: scale(0.99); }

header {
  display: flex;
  justify-content: space-between;
  min-height: 125px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 2rem;
  align-items: flex-start; }

.grettings {
  display: flex;
  align-items: center; }
  .grettings h1 {
    font-size: 1.75rem;
    font-weight: 500; }
  .grettings img {
    width: 64px;
    margin: 0 auto; }

.input-search {
  display: flex;
  align-items: center; }
  .input-search input {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #ecf0f3;
    color: #2f3035; }
  .input-search [type="search"] {
    max-width: 330px;
    padding: 0.85rem;
    border-radius: 10px;
    height: 60px; }
  .input-search [type="submit"] {
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
    background-color: #4c6fff;
    position: relative;
    left: -10px; }

body {
  background-color: white;
  font-family: 'Sora', sans-serif; }

.wrapper-page {
  display: flex;
  /* grid-template-columns: minmax(90px, 300px) repeat(auto-fit, minmax(100px, 1fr)); */ }

.wrapper-link_icon {
  width: 40px;
  padding: 0.30rem;
  background-color: #ecf0f3;
  border-radius: 10px;
  margin-right: 1.25rem; }

.wrapper-link_text {
  color: #738998;
  width: 100%;
  display: flex;
  justify-content: space-between; }

.wrapper-content {
  background-color: #f4f7f9;
  border-radius: 20px 0 0 0;
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
  align-items: flex-start;
  height: calc(100vh - 150px); }

aside {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 0 1rem; }

main {
  width: 100%;
  margin-top: 1rem; }

.pt-4 {
  padding-top: 2rem; }

/* Navigation dahsboard */
.iconFill {
  fill: #6C8393; }

nav {
  width: 80%; }
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 500px;
    min-height: 400px; }
    nav ul .current .wrapper-link_icon {
      background-color: #4c6fff; }
      nav ul .current .wrapper-link_icon svg .iconFill {
        fill: white; }
    nav ul .current .wrapper-link_text {
      color: #2f3035; }
      nav ul .current .wrapper-link_text span:nth-child(2) {
        background-color: #4c6fff;
        width: 10px;
        height: 10px;
        border-radius: 50%; }
    nav ul .current:focus {
      transform: scale(1);
      outline: 5px solid red; }
    nav ul .current:hover .wrapper-link_icon, nav ul .current:active .wrapper-link_icon {
      background-color: #4c6fff; }
      nav ul .current:hover .wrapper-link_icon svg .iconFill, nav ul .current:active .wrapper-link_icon svg .iconFill {
        fill: white; }
    nav ul .current:hover .wrapper-link_text, nav ul .current:active .wrapper-link_text {
      color: #2f3035; }
      nav ul .current:hover .wrapper-link_text span:nth-child(2), nav ul .current:active .wrapper-link_text span:nth-child(2) {
        background-color: #4c6fff;
        width: 10px;
        height: 10px;
        border-radius: 50%; }
    nav ul li .wrapper-link_text {
      /* display: none; */ }
    nav ul li a {
      display: flex;
      align-items: center;
      text-decoration: none; }
      nav ul li a img {
        width: 100%; }
      nav ul li a:hover .wrapper-link_icon {
        background-color: #1946ff; }
        nav ul li a:hover .wrapper-link_icon svg .iconFill {
          fill: white; }
      nav ul li a:hover .wrapper-link_text {
        color: #2f3035; }
        nav ul li a:hover .wrapper-link_text span:nth-child(2) {
          background-color: #1946ff;
          width: 10px;
          height: 10px;
          border-radius: 50%; }
    nav ul li:focus {
      transform: scale(1.08);
      outline: none; }
      nav ul li:focus .wrapper-link_icon {
        background-color: #1946ff; }
        nav ul li:focus .wrapper-link_icon svg .iconFill {
          fill: white; }
      nav ul li:focus .wrapper-link_text {
        color: #2f3035; }
        nav ul li:focus .wrapper-link_text span:nth-child(2) {
          background-color: #1946ff;
          width: 10px;
          height: 10px;
          border-radius: 50%; }
    nav ul li:active .wrapper-link_icon {
      background-color: #1946ff; }
      nav ul li:active .wrapper-link_icon svg .iconFill {
        fill: white; }
    nav ul li:active .wrapper-link_text {
      color: #2f3035; }
      nav ul li:active .wrapper-link_text span:nth-child(2) {
        background-color: #1946ff;
        width: 10px;
        height: 10px;
        border-radius: 50%; }

/* Card Call to action */
/* Example @include fluid-font(320px, 1024px, 22px, 55px); */
/* active sidebar Nav */
.sidebar.active {
  width: 240px; }
  .sidebar.active .logo_content .logo {
    transition: all 0.5s ease 0.2s;
    opacity: 1; }
  .sidebar.active #menu {
    left: 90%; }
  .sidebar.active ul li .tooltip {
    display: none !important; }
  .sidebar.active ul li a div {
    opacity: 1; }
  .sidebar.active .card-calltoAction {
    display: flex;
    opacity: 1;
    transition: all 0.5s ease-in-out 0.2s; }
  .sidebar.active .profile_content #log_out {
    left: 88%; }
  .sidebar.active .profile_details {
    transition: all 0.5s ease 0.2s;
    opacity: 1; }

.sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
  width: 100px;
  background-color: white;
  padding-bottom: 1rem;
  padding: 0 1rem;
  transition: all 0.5s ease;
  z-index: 99; }
  @media only screen and (max-width: 1200px) {
    .sidebar {
      width: 100px; } }
  .sidebar .logo_content {
    padding-top: 1rem; }
    .sidebar .logo_content .logo {
      display: none; }
  .sidebar .logo_content .logo {
    color: #2f3035;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0; }
    .sidebar .logo_content .logo i {
      font-size: 2rem;
      margin-right: 0.25rem; }
    .sidebar .logo_content .logo .logo_name {
      font-size: 2.5rem;
      font-weight: 500; }
  .sidebar #menu {
    position: absolute;
    color: black;
    left: 50%;
    top: 1rem;
    font-size: 1.5rem;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    padding: 0;
    background-color: white; }
    .sidebar #menu:hover {
      background-color: #3355df;
      color: white; }
    .sidebar #menu:focus {
      outline: solid 1px white; }
  .sidebar ul {
    padding: 4rem 0; }
    @media only screen and (max-width: 1024px) and (orientation: landscape) {
      .sidebar ul {
        padding: 1.5rem 0; } }
    .sidebar ul li:last-child {
      margin-bottom: 0; }
    .sidebar ul li {
      position: relative;
      height: 50px;
      width: 100%;
      margin: 0 0.25rem;
      list-style: none;
      line-height: 50px;
      margin-bottom: 2rem; }
      @media only screen and (min-width: 1024px) and (orientation: landscape) {
        .sidebar ul li {
          margin-bottom: 1rem; } }
      .sidebar ul li a {
        color: #738998;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.3s ease; }
        .sidebar ul li a:focus {
          color: #2f3035;
          outline: none; }
          .sidebar ul li a:focus i {
            background-color: #4c6fff;
            color: #f4f7f9; }
          .sidebar ul li a:focus div span:nth-child(2) {
            background-color: #4c6fff; }
        .sidebar ul li a div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding-right: 1rem;
          opacity: 0; }
          .sidebar ul li a div span:nth-child(2) {
            background-color: #738998;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: block; }
        .sidebar ul li a i {
          height: 50px;
          min-width: 50px;
          border-radius: 12px;
          line-height: 50px;
          text-align: center;
          font-size: 1.75rem;
          margin-right: 1rem; }
      .sidebar ul li:hover a, .sidebar ul li:focus a {
        color: #2f3035; }
        .sidebar ul li:hover a i, .sidebar ul li:focus a i {
          background-color: #4c6fff;
          color: #f4f7f9; }
        .sidebar ul li:hover a div span:nth-child(2), .sidebar ul li:focus a div span:nth-child(2) {
          background-color: #4c6fff; }
      .sidebar ul li:hover .tooltip, .sidebar ul li:focus .tooltip {
        transition: all 0.5s ease;
        opacity: 1;
        top: 50%; }
      .sidebar ul li .tooltip {
        position: absolute;
        left: 80px;
        top: 0;
        transform: translateY(-50%);
        border-radius: 6px;
        height: 35px;
        width: 122px;
        line-height: 35px;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: 0s;
        opacity: 0;
        pointer-events: none;
        background-color: white; }
    .sidebar ul .current a {
      color: black; }
      .sidebar ul .current a div span:nth-child(2) {
        background-color: #3355df; }
      .sidebar ul .current a i {
        background-color: #3355df;
        color: white; }

#log_out {
  position: absolute;
  bottom: 0;
  left: 40%;
  transform: translateY(-50%);
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  color: #738998;
  transition: all 0.5s ease; }

.profile {
  height: 60px;
  padding: 10px 6px;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  margin-right: 1rem; }
  .profile_details {
    display: flex;
    align-items: center;
    opacity: 0; }
    .profile_details img {
      border-radius: 50%;
      width: 45px;
      height: 45px;
      object-fit: cover; }
  .profile i {
    min-width: 50px;
    font-size: 30px;
    line-height: 50px;
    text-align: right;
    color: #738998; }
  .profile .name_job {
    margin-left: 10px; }
  .profile .name {
    color: #2f3035;
    font-weight: 400;
    font-size: 0.85rem; }
  .profile .job {
    color: #6c8393;
    font-size: 0.75rem; }

.card-calltoAction {
  transition: all 0s ease;
  background-color: #4c6fff;
  opacity: 0;
  padding: 1rem 1rem;
  border-radius: 20px;
  align-items: center; }
  .card-calltoAction .card-calltoAction_col {
    width: 85%;
    color: white;
    font-size: 0.65rem;
    font-weight: 300;
    margin-right: 0.5rem; }
    .card-calltoAction .card-calltoAction_col p:nth-child(1) {
      font-size: 0.85rem;
      font-weight: 500; }
    .card-calltoAction .card-calltoAction_col button {
      background: #3355df;
      color: #ffffff;
      border-radius: 10px;
      font-size: 0.75rem; }
    .card-calltoAction .card-calltoAction_col button:hover,
    .card-calltoAction .card-calltoAction_col button:focus {
      background: #173095; }
    .card-calltoAction .card-calltoAction_col button:focus {
      outline: 1px solid #fff;
      outline-offset: -4px; }
    .card-calltoAction .card-calltoAction_col button:active {
      transform: scale(0.99); }
  .card-calltoAction_img {
    max-width: 100px;
    min-width: 50px; }
    .card-calltoAction_img svg {
      width: 100%; }

/* Example @include fluid-font(320px, 1024px, 22px, 55px); */
/* @keyframes scaleDown {
    from {
        transform: scale(1.08);
    }
    to {
        transform: scale(1);
    }
} */

/*# sourceMappingURL=global_styles.css.map */